server:
  port: 8080

spring:
  application:
    name: accounts

  datasource:
    #url: jdbc:mysql://localhost:3307/accountsdb
    #username: root
    #password: root
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: durga
    password: ''

    h2:
      console:
        enabled: true

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  #sql:
    #init:
      #mode: always

  profiles:
    active: "prod"

  config:
    import: "optional:configserver:http://localhost:8071/"

  rabbitmq:
    host: "localhost"
    port: 5672
    username: "guest"
    password: "guest"

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    shutdown:
      access: unrestricted
  info:
    env:
      enabled: true

eureka:
  instance:
    preferIpAddress: true
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:8070/eureka/

info:
  app:
    name: "accounts"
    description: "Avo Bank Accounts Application"
    version: "1.0.0"

logging:
  level:
    com:
      avo:
        accounts: DEBUG